*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  width: 100%;
  background-color: #EDFFE8;
  text-align: center;
  padding: 10px;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 3px 10px black;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
header button{
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 5px;
  border-radius: 15px;
  display: none;
}

main{
  z-index: -1;
  margin: 40px 0px 0px 0px;
  width: 100%;
  height: calc(100vh - 40px);
  display: flex;
  overflow-x: hidden;
}

/*
These are css codes to style the sidebar
Everything in here styles the sidebar alone and its contents
*/
.sidebar{
  width: 20%;
  background-color: #356F26;
  height: 100%;
  padding: 30px 20px;
}
.sidebar div{
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  padding: 20px 30px;
}
.sidebar h3{
  text-align: center;
  font-size: 30px;
  color: #EDFFE8;
}
.sidebar nav{
  margin: 20px 0px 0px 0px;
}
.sidebar li{
  list-style: none;
  padding: 5px 0px;
  transition: 0.15s;
}
.sidebar a{
  color: #EDFFE8;
  transition: 0.15s;
}
.sidebar li a:hover{
  color: greenyellow;
}
.sidebar li:hover{
  background-color: rgba(0,0,0,0.1);
}
.sidebar nav > ul > li{
  font-size: 1.2em;
}
.sidebar ul > ul li{
  padding: 5px 0px 5px 20px;
}
.sidebar a{
  text-decoration: none;
}

.content{
  width: 40%;
  background-color: white;
  box-shadow: 3px 3px 10px black inset;
  height: 100%;
  text-align: center;
  overflow: hidden;
  padding: 40px 0px 0px 0px;
}
.content .img-container{
  padding: 30px 0px 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.content > div > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.content img{
  height: 70vh;
}
.content h1{
  text-align: center;
  color: #0f4900;
  margin: 0px 0px 20px 0px;
}

.infos{
  width: 40%;
  background-color: #468E5C;
  box-shadow: -3px 0px 10px black;
  height: 100%;
  padding: 30px;
  color: #EDFFE8;
  overflow: auto;
}
.infos .media1{
  text-align: center;
  display: none;
}
.infos > div{
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 20px 0px;
  width: 100%;
}
.infos h2{
  margin: 0px 0px 20px;
  text-align: center;
}
.infos p{
  text-align: justify;
  margin: 0px 20px;
}
.infos ul{
  margin: 0px 0px 0px 30px;
}
.infos img{
  width: 100%;
}

@media (max-width: 1200px){
  header{
    justify-content: space-between;
    padding: 10px 30px;
  }
  header button{
    display: block;
  }
  .sidebar{
    position: fixed;
    width: 300px;
    height: 100%;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding: 50px 20px;
  }
  .sidebar.show {
    transform: translateX(0); /* Slide in to visible */
  }
  .content{
    display: none;
  }
  .infos{
    width: 100%;
  }
  .infos .media1{
    display: block;
  }
  .infos .media1 img{
    height: 35vh;
    width: auto;
  }
  .infos h2{
    font-size: 30px;
  }
  .infos p, .infos ul{
    font-size: 26px;
  }
}