*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  width: 100%;
  background-color: #EDFFE8;
  text-align: center;
  padding: 10px;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 3px 10px black;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
header button{
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 5px;
  border-radius: 15px;
  display: none;
}

main{
  z-index: -1;
  margin: 40px 0px 0px 0px;
  width: 100%;
  height: calc(100vh - 40px);
  display: flex;
  overflow-x: hidden;
}

.sidebar{
  width: 20%;
  background-color: #356F26;
  height: 100%;
  padding: 30px 20px;
}
.sidebar div{
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  padding: 20px 30px;
}
.sidebar h3{
  text-align: center;
  font-size: 30px;
  color: #EDFFE8;
}
.sidebar nav{
  margin: 20px 0px 0px 0px;
}
.sidebar li{
  list-style: none;
  padding: 5px 0px;
  transition: 0.15s;
}
.sidebar a{
  color: #EDFFE8;
  transition: 0.15s;
}
.sidebar li a:hover{
  color: greenyellow;
}
.sidebar li:hover{
  background-color: rgba(0,0,0,0.1);
}
.sidebar nav > ul > li{
  font-size: 1.2em;
}
.sidebar ul > ul li{
  padding: 5px 0px 5px 20px;
}
.sidebar a{
  text-decoration: none;
}


.content{
  width: 40%;
  background-color: white;
  box-shadow: 3px 3px 10px black inset;
  height: 100%;
  text-align: center;
  overflow: hidden;
  padding: 40px 0px 0px 0px;
  overflow-y: auto;
}
.content .img-container{
  padding: 30px 0px 0px;
  width: 400%;
  display: flex;
  justify-content: space-evenly;
  transition: 1s;
}
.content > div > div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% / 4);
}
.content .interactive-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.content .interactive-buttons{
  width: 50%;
}
.content .interactive-buttons h3{
  padding: 10px;
  border-radius: 500px;
}
.content .interactive-info{
  width: 100%;
  padding: 30px;
  margin: 20px 0px;
}
.content .interactive-info h2{
  margin: 20px 0px;
}
.content .interactive-info p {
  width: 100%;
  margin: 20px 0px;
}
.content .interactive-container button{
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 20px;
}
.content .interactive-container button:nth-child(2){
  background-color: rgb(215, 57, 57);
  color: white;
  border: 3px solid rgb(103, 0, 0);
}
.content .interactive-container button:nth-child(3){
  background-color: rgb(86, 255, 86);
  border: 3px solid green;
}
.content img{
  width: 40%;
  cursor: pointer;
  transition: opacity 0.5s ease, transform 0.5s ease; /* Add transform for scale */
  opacity: 1;
  transform: scale(1); /* Normal state */
}
.content .buttons{
  margin: 30px 0px;
  width: 100%;
}
.content .buttons button{
  padding: 20px 35px;
  font-size: 20px;
  background-color: rgb(0, 255, 0);
  border: 3px solid green;
  border-radius: 20px;
  cursor: pointer;
  margin: 0px 20px;
}


.infos{
  width: 40%;
  background-color: #468E5C;
  box-shadow: -3px 0px 10px black;
  height: 100%;
  padding: 30px 30px 10px;
  color: #EDFFE8;
  overflow: auto;
}
.infos > div{
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 20px 0px;
  width: 100%;
}
.infos h2{
  text-align: center;
}
.infos p{
  margin: 20px;
  text-align: justify;
}
.infos dt{
  margin: 40px 0px 0px;
  text-align: center;
  font-size: 20px;
}
.infos dd{
  text-align: justify;
  padding: 10px 20px;
}
.infos dt, .infos dd {
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.infos dd:hover, .infos dt:hover{
  background-color: rgba(255, 255, 255, 0.2);
}
.infos li{
  margin: 0px 0px 0px 30px;
}
.infos li:first-child{
  margin: 10px 0px 0px 30px;
}
.infos li:last-child{
  margin: 0px 0px 10px 30px;
}
.infos .clicked {
  background-color: rgba(255, 255, 255, 0.2);
}
.infos .highlight {
  background-color: #34921d;
  border-left: 5px solid #0b3800;
  transition: background-color 0.3s ease;
}
.img-container img.highlight {
  border: 10px solid #356F26;
  transition: border 0.3s ease;
}

.interactive-info {
  transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth fade and slight scale */
  opacity: 1;
  transform: scale(1);
}
.interactive-info.fade-out {
  opacity: 0;
  transform: scale(0.95); /* Slight shrink for effect */
}
.content img {
  transition: opacity 0.5s ease, transform 0.5s ease; /* Add transform for scale */
  opacity: 1;
  transform: scale(1); /* Normal state */
}

@media (max-width: 1200px){
  header{
    justify-content: space-between;
    padding: 10px 30px;
  }
  header button{
    display: block;
  }
  .sidebar{
    position: fixed;
    width: 300px;
    height: 100%;
    z-index: 1;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding: 50px 20px;
  }
  .sidebar.show {
    transform: translateX(0); /* Slide in to visible */
  }
  .content{
    width: 100%;
  }
  .content img{
    width: 50%;
    height: auto;
  }
  .content .interactive-buttons{
    margin: 20px 0px;
    width: 100%;
  }
  .content .interactive-buttons h3{
    font-size: 30px;
    width: 100%;
  }
  .content .interactive-buttons button:nth-child(2), .interactive-buttons button:nth-child(3){
    width: 30%;
  }
  .content .interactive-buttons button{
    font-size: 20px;
  }
  .content .interactive-info h3{
    font-size: 30px;
  }
  .content .interactive-info p{
    font-size: 25px;
  }
  .infos{
    width: 100%;
  }
}
@media (max-width: 750px){
  .content{
    width: 100%;
    height: auto;
  }
  .content img{
    height: 20vh;
    width: auto;
  }
  .infos{
    width: 100%;
    height: auto;
  }
}
